/* -- Imports -- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Roboto&display=swap");

/* -- Variables -- */
$debugapp-font-family: "Poppins", sans-serif;
$content-font-family: "Roboto", sans-serif;
$purple-color: hsl(284, 100%, 31%);
$dark-purple-color: hsl(284, 100%, 25%);
$gray-color: hsl(0, 0%, 95%);
$white-color: hsl(0, 0%, 100%);
$black-color: hsla(0, 0%, 0%, 0.9);
$light-black-color: hsla(0, 0%, 0%, 0.75);

/* -- Mobile and General design -- */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.App {
  & .header {
    background-color: $purple-color;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;

    &__icon {
      width: 1.5em;
    }
    &__title {
      font-family: $debugapp-font-family;
      color: $white-color;
    }
    &__name {
      font-family: $content-font-family;
      font-weight: 400;
    }
  }
  & .form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 1.5em;

    &__title {
      width: 20em;
      height: 2em;
      padding: 0.5em;
      background-color: $gray-color;
      border: 0.2em solid $purple-color;
      border-radius: 0.5em 0.5em 0.5em 0.5em;
      text-indent: 1em;
      color: $black-color;
      font-weight: 700;
      outline: none;
    }
    &__content {
      width: 20em;
      height: 5em;
      padding: 0.5em;
      background-color: $gray-color;
      border: 0.2em solid $purple-color;
      border-top: none;
      border-radius: 0em 0em 0.5em 0.5em;
      text-indent: 1em;
      color: $light-black-color;
      margin-top: -0.1em;
      resize: none;
      outline: none;
      box-shadow: 0px 19px 15px 5px rgba(0, 0, 0, 0.15);
    }
    &__button {
      margin-left: 17.8em;
      margin-top: -2.6em;
      border-radius: 0.3em;
      width: 2.5em;
      height: 1em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $purple-color;
      position: relative;

      &:hover {
        background-color: $dark-purple-color;
      }
      & .button__icon {
        font-size: 2em;
        color: $white-color;
        position: absolute;
      }
    }
  }
  & .section-notes {
    margin-top: 2em;
    padding: 1.5em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;

    & .note {
      background-color: $white-color;
      min-width: 4em;
      width: fit-content;
      min-height: 4em;
      position: relative;
      padding: 1em;
      border-radius: 0.5em;
      border: 0.1em solid $purple-color;
      box-shadow: 0px 19px 15px 5px rgba(0, 0, 0, 0.15);

      &__icon {
        position: absolute;
        right: 0.5em;
        top: 0.5em;
        width: 1em;
      }
      &__title {
        max-width: 100%;
        padding: 0.5em;
        font-size: 0.8em;
        color: $black-color;
      }
      &__content {
        width: 100%;
        font-size: 1em;
        padding: 0.5em;
        color: $light-black-color;
      }
      &__delete {
        border-radius: 0.3em;
        width: 2.5em;
        height: 0.8em;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $purple-color;
        position: absolute;
        right: -0.1em;
        bottom: -0.15em;

        &:hover {
          background-color: $dark-purple-color;
        }
        .delete__icon {
          font-size: 1.5em;
          color: $white-color;
        }
      }
    }
  }
}
