/* -- Imports -- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&family=Roboto&display=swap");
/* -- Variables -- */
/* -- Mobile and General design -- */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.App .header {
  background-color: #74009e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5em;
}

.App .header__icon {
  width: 1.5em;
}

.App .header__title {
  font-family: "Poppins", sans-serif;
  color: white;
}

.App .header__name {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.App .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 1.5em;
}

.App .form__title {
  width: 20em;
  height: 2em;
  padding: 0.5em;
  background-color: #f2f2f2;
  border: 0.2em solid #74009e;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  text-indent: 1em;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  outline: none;
}

.App .form__content {
  width: 20em;
  height: 5em;
  padding: 0.5em;
  background-color: #f2f2f2;
  border: 0.2em solid #74009e;
  border-top: none;
  border-radius: 0em 0em 0.5em 0.5em;
  text-indent: 1em;
  color: rgba(0, 0, 0, 0.75);
  margin-top: -0.1em;
  resize: none;
  outline: none;
  -webkit-box-shadow: 0px 19px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 19px 15px 5px rgba(0, 0, 0, 0.15);
}

.App .form__button {
  margin-left: 17.8em;
  margin-top: -2.6em;
  border-radius: 0.3em;
  width: 2.5em;
  height: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #74009e;
}

.App .form__button:hover {
  background-color: #5e0080;
}

.App .form__button .button__icon {
  font-size: 2em;
  color: white;
}

.App .section-notes {
  margin-top: 2em;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 2em;
}

.App .section-notes .note {
  background-color: white;
  min-width: 4em;
  max-width: 6em;
  position: relative;
  padding: 1em;
  border-radius: 0.5em;
  border: 0.1em solid #74009e;
  -webkit-box-shadow: 0px 19px 15px 5px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 19px 15px 5px rgba(0, 0, 0, 0.15);
}

.App .section-notes .note__icon {
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1em;
}

.App .section-notes .note__title {
  font-size: 0.8em;
  color: rgba(0, 0, 0, 0.9);
}

.App .section-notes .note__content {
  font-size: 1em;
  color: rgba(0, 0, 0, 0.75);
}

.App .section-notes .note__delete {
  border-radius: 0.3em;
  width: 2.5em;
  height: 0.8em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #74009e;
  position: absolute;
  right: -0.1em;
  bottom: -0.15em;
}

.App .section-notes .note__delete:hover {
  background-color: #5e0080;
}

.App .section-notes .note__delete .delete__icon {
  font-size: 1.5em;
  color: white;
}
/*# sourceMappingURL=App.css.map */